<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
	<!-- 관리자  -->
		<typeAlias type="kr.co.semosi.admin.member.model.vo.MemberP" alias="MemberP" />
		<typeAlias type="kr.co.semosi.admin.member.model.vo.MemberS" alias="MemberS" />
		<typeAlias type="kr.co.semosi.admin.member.model.vo.FamilyDocu" alias="FamilyDocu" />
		<typeAlias type="kr.co.semosi.admin.member.model.vo.HealthDocu" alias="HealthDocu" />
		<typeAlias type="kr.co.semosi.admin.member.model.vo.ResidentDocu" alias="ResidentDocu" />
		<typeAlias type="kr.co.semosi.admin.member.model.vo.TeacherDocu" alias="TeacherDocu" />
		<typeAlias type="kr.co.semosi.admin.member.model.vo.CertifyView" alias="CertifyView" />
		
		<typeAlias type="kr.co.semosi.admin.review.model.vo.JobOfferReviewView" alias="JobOfferReviewView" />
     	<typeAlias type="kr.co.semosi.admin.review.model.vo.JobSearchReviewView" alias="JobSearchReviewView" />
		<typeAlias type="kr.co.semosi.admin.review.model.vo.ReviewAnswer" alias="ReviewAnswer" />

		<typeAlias type="kr.co.semosi.admin.customer.model.vo.FAQ" alias="AFAQ"/>
     	<typeAlias type="kr.co.semosi.admin.customer.model.vo.Notice" alias="ANotice"/>
      	<typeAlias type="kr.co.semosi.admin.customer.model.vo.QnA" alias="AQnA"/>
      	<typeAlias type="kr.co.semosi.admin.customer.model.vo.QnAComment" alias="QnAComment"/>
      	<typeAlias type="kr.co.semosi.admin.customer.model.vo.Inquiry" alias="Inquiry"/>
      
      	<typeAlias type="kr.co.semosi.admin.job.model.vo.JobOffer" alias="JobOffer"/>
      	<typeAlias type="kr.co.semosi.admin.job.model.vo.JobSearch" alias="JobSearch"/>
      	<typeAlias type="kr.co.semosi.admin.job.model.vo.PostReport" alias="PostReport"/>
      	
      	<typeAlias type="kr.co.semosi.admin.job.model.vo.AdminOffer" alias="AdminOffer"/>
      	<typeAlias type="kr.co.semosi.admin.job.model.vo.AdminSearch" alias="AdminSearch"/>
      	<typeAlias type="kr.co.semosi.admin.job.model.vo.AdminSearchPage" alias="AdminSearchPage"/>
      	<typeAlias type="kr.co.semosi.admin.job.model.vo.AdminReport" alias="AdminReport"/>
      
     	<typeAlias type="kr.co.semosi.admin.voucher.model.vo.ParentsVoucherView" alias="ParentsVoucherView"/>
      	<typeAlias type="kr.co.semosi.admin.voucher.model.vo.SitterVoucherView" alias="SitterVoucherView"/>	
      	<!-- 관리자  -->
	
		<typeAlias type="kr.co.semosi.mypage.model.vo.ParentVoucher" alias="parentVoucher"/>
		<typeAlias type="kr.co.semosi.mypage.model.vo.SitterVoucher" alias="sitterVoucher"/>
		<typeAlias type="kr.co.semosi.mypage.model.vo.QnA" alias="myPageQnA"/>

		<typeAlias type="kr.co.semosi.mypage.model.vo.ApplicationReceived" alias="ApplicationReceived"/>

		<typeAlias type="kr.co.semosi.mypage.model.vo.FamilyDocu" alias="myPageFamilyDocu" />
		<typeAlias type="kr.co.semosi.mypage.model.vo.HealthDocu" alias="myPageHealthDocu" />
		<typeAlias type="kr.co.semosi.mypage.model.vo.ResidentDocu" alias="myPageResidentDocu" />
		<typeAlias type="kr.co.semosi.mypage.model.vo.TeacherDocu" alias="myPageTeacherDocu" />
		
		
		<typeAlias type="kr.co.semosi.mypage.model.vo.ReceiveOfferReview" alias="ReceiveOfferReview"/>
		<typeAlias type="kr.co.semosi.mypage.model.vo.WriteOfferReview" alias="WriteOfferReview"/>
		
		
		<typeAlias type="kr.co.semosi.member.model.vo.Authentication" alias="Authentication"/>
		<typeAlias type="kr.co.semosi.member.model.vo.ParentMember" alias="ParentMember"/>
		<typeAlias type="kr.co.semosi.member.model.vo.SitterMember" alias="SitterMember"/>
		

		
		
		<typeAlias type="kr.co.semosi.index.model.vo.IndexReviews" alias="IndexReviews"/>
		<typeAlias type="kr.co.semosi.joboffer.model.vo.JobOfferList" alias="JobOfferList"/>
		<typeAlias type="kr.co.semosi.joboffer.model.vo.JobOfferPost" alias="JobOfferPost"/>
		<typeAlias type="kr.co.semosi.joboffer.model.vo.JobOfferApply" alias="JobOfferApply"/>
		<typeAlias type="kr.co.semosi.joboffer.model.vo.JobOfferReview" alias="JobOfferReview"/>
		<typeAlias type="kr.co.semosi.jobsearch.model.vo.JobSearchList" alias="JobSearchList"/>
		<typeAlias type="kr.co.semosi.jobsearch.model.vo.JobSearchApply" alias="JobSearchApply"/>
		
		<typeAlias type="kr.co.semosi.cs.model.vo.Notice" alias="Notice"/>
		<typeAlias type="kr.co.semosi.cs.model.vo.Guide" alias="Guide"/>
		<typeAlias type="kr.co.semosi.cs.model.vo.FAQ" alias="FAQ"/>
		<typeAlias type="kr.co.semosi.cs.model.vo.QnA" alias="QnA"/>
		<typeAlias type="kr.co.semosi.cs.model.vo.QnAComment" alias="QnAPostComment"/>
		
		<typeAlias type="kr.co.semosi.mypage.model.vo.QnA" alias="mQnA"/>
	</typeAliases>
</configuration>
