@CHARSET "UTF-8";

ul{
	margin: 0;
}
p{
	padding: 0;
}
a:hover{
	color: black;
}

section{
	width: 100%;
	clear: both;
}
#section-wrap{
	width: 70%;
	height: 100%;
}


.carousel-item img{
	height: 500px;
}
.carousel-wrap{
	width: 70%;
	margin: 0 auto;
}
#carousel1{
	background-color: pink;
}
#carousel2{
	background-color: skyblue;
}
#carousel3{
	background-color: lightgray;
}
#carousel4{
	background-color: lightgreen;
}
.carousel-control-prev{
	left: 200px;
}
.carousel-control-next{
	right: 200px;
}


#member-count-panel{
	width: 100%;
	height: 80px;
	color: white;
	background-color: #f6d257;
}
#member-count-panel .wrap{
	height: 100%;
	text-align: center;
	font-weight: 900;
}
#member-count-panel>.wrap>span{
	line-height: 70px;
}
#partition{
	margin: 0 10%;
	font-size: 2.0rem;
	font-weight: 100;
}
.count-size{
	font-size: 2.5rem;
	font-weight: 600;
	margin-left: 20px;
}



#semosi-info-panel{
	width: 100%;
	background-color: #f4f4f4;
}
#semosi-info-panel>.wrap{
	padding-top: 100px;
}
#semosi-info-panel>.wrap>div{
	width: 100%;
}
.card-panel{
	width: 49.5%;
	background-color: white;
	padding: 5%;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 5px 1px lightgray;
	text-align: center;
}
#card-panel1{
	float: left;
}
#card-panel2{
	float: right;
}
.card-panel mark{
	display: inline-block;
	line-height: 0;
    padding-bottom: .6em;
    background-color: #f6d257;
    font-weight: 700;
}
.card-panel>div>p:first-child{
	font-size: 1.8rem;
}
.card-panel>div>p:nth-child(2){
	color: gray;
	font-size: 1.1rem;
}
.card-panel>div{
	width: 100%;
}
.card-panel img{
	width: 80%;
}
#sitter-count{
	font-weight: 900;
}
#info-btn-panel{
	text-align: center;
	clear: both;
	padding: 50px 0;
}
#info-btn-panel>a{
	width: 220px;
	height: 50px;
	border: 2px solid #f6d257;
	border-radius: 30px;
	background-color: #f6d257;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 1.2rem;
	font-weight: 900;
}



#review-panel{
	padding: 50px 0;
}
#title-panel{
	text-align: center;
}
#title-panel>img{
	margin-bottom: 20px;
}

#review-panel #btn-panel{
	clear: both;
	padding-top: 50px;
	text-align: center;
}
#btn-panel>a{
	width: 300px;
	height: 50px;
	font-size: 1.2rem;
	font-weight: 900;
	color: gray;
	line-height: 50px;
	border: 1px solid gray;
}
#btn-panel>a:hover{
	background-color: lightgray;
}



#card-panel{
	margin: 50px 0;
}
#card-panel>div:last-child{
	display: none;
}
#review-panel .card{
	width: 24%;
	height: 260px;
	float: left;
	margin: 0.5%;
	padding: 2%;
}

.card-title{
	padding-bottom: 10px;
}
.card-title>img{
	float: left;
	margin-right: 5%;
}
.card-title>p{
	float: left;
	font-weight: 900;
	font-size: 1.1rem;
}
.card img{
	width: 50px;
}
.card>p{
	overflow: hidden;
	white-space: normal;
	line-height: 1.5;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}



#faq-panel{
	padding: 100px 0;
	background-color: #f4f4f4;
}
#faq-panel>.wrap{
	padding: 0 10%;
}

#faq-title-panel{
	text-align: center;
	margin-bottom: 50px;
}
#faq-title-panel>p{
	font-size: 2.0rem;
}
#faq-panel mark{
	display: inline-block;
	line-height: 0;
    padding-bottom: .6em;
    background-color: #f6d257;
    font-weight: 700;
}

#faq-icon-panel>div{
	width: 33%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
}
#faq-icon-panel>div:nth-child(2){
	padding-top: 40px;
}
#faq-icon-panel img{
	width: 33%;
	margin-bottom: 20px;
}
#faq-icon-panel p{
	font-size: 1.2rem;
}

#faq-btn-panel{
	text-align: center;
}
#faq-btn-panel>a{
	width: 220px;
	height: 50px;
	border: 2px solid #f6d257;
	border-radius: 30px;
	background-color: #f6d257;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 1.2rem;
	font-weight: 900;
}