@CHARSET "UTF-8";

body {
	min-width: 400px;
}

div {
	box-sizing: border-box;
}

.container-fluid{
	width: 70%;
}

#searchBox {
	background-color: #F6D257;
}

#search {
	margin: 50px 0;
}

#search>form {
	border: 1px solid black;
	border-radius: 20px;
	width: 50%;
	background-color: white;
	margin: 0 auto;
}

#search>form>span {
	padding-left: 10px;
}

#search>form>input {
	border: 0px;
	width: 80%;
	margin: 5px 0 5px 2%;
}

#search>form>input:focus {
	outline: none;
}

#csBtnRow {
	padding: 20px 0;	
}

.csBtnBox {
	text-align: center;
	padding: 10px 0;
}

.csBtn {
	width: 200px;
	height: 80px;
	border-radius: 100px;
	background-color: #F6D257;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 22px;
	line-height: 80px;
}

.csBtn:hover {
	color: white;
	text-decoration: none;
}

.csTable {
	width: 95%;
	border-top: 2px solid gray;
	text-align: center;
	margin: 0 auto;
}

#csTableRow {
	padding-bottom: 50px;
}

.csTableBox {
	text-align: center;
	margin-top: 30px;
}

.csTable caption {
	caption-side: top;
	font-weight: bold;
	color: black;
}

.csTable>caption a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.csTable>tbody>tr>td:first-child {
	text-align: left;
}

.csTable>tbody>tr>td:last-child {
	text-align: right;
}

.csTable th {
		text-align: center;
	border: 0px;
	border-bottom: 2px solid gray;
	padding: 5px 0 5px 0;
}

.csTable td {
	border: 0px;
	border-bottom: 1px solid gray;
	color: gray;
	padding: 10px 10px 10px 10px;
}