@CHARSET "UTF-8";

body {
	font-family: 'Nanum Gothic', sans-serif;
	min-width: 560px;
}

div {
	box-sizing: border-box;
}

.container-fluid {
	width: 70%;
}

#csMenuBox {
	text-align: right;
}

#csMenu {
	list-style-type: none;
	margin: 0px;
	padding: 10px 0 30px 0;
	display: inline-block;
}

#csMenu>li::after {
	content: "|";
	padding: 0 10px;
}

#csMenu>li:last-child::after {
	content: "";
	padding: 0;
}

#csMenu>li {
	float: left;
}

#csMenu>li>a {
	color: black;
}

#csMenu>li>a:hover {
	text-decoration: none;
	color: #F6D257;
}

#boardNameBox {
	text-align: center;
	margin-bottom: 20px;
}

#boardName>a {
	font-size: 28px;
	color: black;
	text-decoration: none;
	padding: 0px;
	font-weight: bold;
}

#boardName>a:hover {
	color: #F6D257;
	text-decoration: none;
}

#postBox {
	overflow-x: auto;
	padding-bottom: 10px;
}

#post {
	width: 80%;
	margin: 0 auto;
	min-width: 600px;
}

#post>caption {
	color: black;
	text-decoration: none;
	caption-side: top;
	text-align: center;
	padding: 0px;
	margin-bottom: 20px;
}

#post>caption a {
	color: black;
	font-weight: bold;
}

#post>caption a:hover {
	color: #F6D257;
	text-decoration: none;
}

#post>tbody>tr>td {
	border-top: 1px solid gray;
	text-align: center;
	color: gray;
	padding: 5px 0 5px 0;
}

td:nth-child(odd) {
	background: #F6D257;
}

#post>tbody>tr>td:nth-child(2n) {
	text-align: left;
	padding-left: 5px;
}

#post>tbody>tr:last-child>td {
	background: transparent;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid gray;
}

#content {
	white-space:pre-wrap;
	min-height: 400px;
}

#btnBox {
	padding-bottom: 20px;
	width: 80%;
	margin: 0 auto;
}

#btnBox>form{
	display: inline;
}

#modBtn, #delBtn, #listBtn {
	border: 0px;
	background-color: #F6D257;
	padding: 5px 35px;
	color: #707070;
}

#modBtn {
	margin-right: 10px;
}

#listBtn {
	float: right;
}

#commentBox {
	margin-bottom: 20px;
}

#comment {
	border: 1px solid gray;
	margin: 0px auto;
	padding: 0px;
	list-style-type: none;
	width: 80%;
}

#comment>li {
	border-bottom: 1px solid gray;
	padding: 10px;
}

#comment>li:last-child {
	border-bottom: 0px;
}

#comment>li>p {
	margin-bottom: 10px;
}

#commentInputBox {
	padding-bottom: 50px;
}

#commentInput {
	margin: 0px auto;
	text-align: center;
	width: 80%;
	padding: 10px;
	background-color: lightgray;
	border: 1px solid gray;
	
}

#commentInput>textarea {
	width: 90%;
	height: 60px;
	padding: 5px;
	margin-right: 1%;
}

#commentInput>textarea::-webkit-scrollbar {
	width: 6px;
}

#commentInput>textarea::-webkit-scrollbar-track {
	background-color: transparent;
}

#commentInput>textarea::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: gray;
}

#commentInput>textarea::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

#commentInput>button {
	background-color: white;
	border: 1px solid gray;
	width: 9%;
	float: right;
	height: 60px;
}