<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="authentication">
	<insert id="insertNumber">
		INSERT INTO AUTHENTICATION VALUES(#{random})
	</insert>
	
	<select id="selectNumber" resultType="Authentication">
	SELECT 
  		AUTHENTICATIONNUMBER as autenticationNumber
  	FROM authentication
  	WHERE authenticationNumber = #{checkNumber}
	</select>
	
	<delete id="deleteNumber">
		DELETE 
		FROM authentication
		WHERE authenticationNumber = #{checkNumber}
	</delete>
</mapper>
