<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customer">
  <select id="selectPFAQList" resultType="FAQ" parameterType="java.util.HashMap">
  	SELECT 
  		POST_NO as postNo,
  		TITLE as title,
  		CONTENT as content,
  		WRITE_DATE as writeDate,
  		WRITER as writer,
  		DEL_YN as delYn,
  		CATEGORY as category
  	FROM(
  		SELECT RANK() OVER(ORDER BY POST_NO DESC) AS RNUM, FAQ.* FROM FAQ WHERE CATEGORY='P' 
  	)
  	WHERE RNUM BETWEEN #{start} AND #{end} 
  </select>
  
  <select id="selectPFAQContentCnt" resultType="int" parameterType="java.util.HashMap">
    select count(*) from FAQ where category='P' 
  </select>
  
  <insert id="insertParentsFAQWrite">
  	insert into FAQ values(faq_seq.nextval,#{title},#{content},default,'a0001',default,'P')
  </insert>
  
  <update id="updateParentsFAQModify">
  	update FAQ set title=#{title}, content=#{content} where post_no=#{postNo}
  </update>
  
  <select id="selectSFAQList" resultType="FAQ" parameterType="java.util.HashMap">
  	SELECT 
  		POST_NO as postNo,
  		TITLE as title,
  		CONTENT as content,
  		WRITE_DATE as writeDate,
  		WRITER as writer,
  		DEL_YN as delYn,
  		CATEGORY as category
  	FROM(
  		SELECT RANK() OVER(ORDER BY POST_NO DESC) AS RNUM, FAQ.* FROM FAQ WHERE CATEGORY='S' 
  	)
  	WHERE RNUM BETWEEN #{start} AND #{end} 
  </select>
  
   <select id="selectSFAQContentCnt" resultType="int" parameterType="java.util.HashMap">
     select count(*) from FAQ where category='S'
  </select>
  
  <insert id="insertSitterFAQWrite">
  	insert into FAQ values(faq_seq.nextval,#{title},#{content},default,'a0001',default,'S')
  </insert>
  
  <update id="updateSitterFAQModify">
  	update FAQ set title=#{title}, content=#{content} where post_no=#{postNo}
  </update>
  
  
  <select id="selectNoticeList" resultType="Notice" parameterType="java.util.HashMap">
  	SELECT 
  		POST_NO as postNo,
  		TITLE as title,
  		CONTENT as content,
  		WRITE_DATE as writeDate,
  		WRITER as writer,
  		DEL_YN as delYn
  	FROM(
  		SELECT RANK() OVER(ORDER BY POST_NO DESC) AS RNUM, Notice.* FROM Notice
  	)
  	WHERE RNUM BETWEEN #{start} AND #{end} 
  </select>
  
  <select id="selectNoticeContentCnt" resultType="int" parameterType="java.util.HashMap">
    select count(*) from NOTICE
  </select>
  
  <insert id="insertNoticeWrite">
  	insert into notice values(notice_seq.nextval,#{title},#{content},default,'a0001',default)
  </insert>
  
  <update id="updateNoticeModify">
  	update notice set title=#{title}, content=#{content} where post_no=#{postNo}
  </update>
  
  
  <select id="selectInquiryList" resultType="QnA" parameterType="java.util.HashMap">
  	SELECT 
  		POST_NO as postNo,
  		TITLE as title,
  		CONTENT as content,
  		WRITE_DATE as writeDate,
  		WRITER_P_NO as writerPNo,
        WRITER_S_NO as writerSNo,
  		DEL_YN as delYn
  	FROM(
  		SELECT RANK() OVER(ORDER BY POST_NO DESC) AS RNUM, QNA.* FROM QNA
  	)
  	WHERE RNUM BETWEEN #{start} AND #{end} 
  </select>
  
  <select id="selectInquiryContentCnt" resultType="int" parameterType="java.util.HashMap">
    select count(*) from QNA
  </select>
  
  <select id="selectInquiryAnswer" resultType="Inquiry">
  	SELECT 
  		POST_NO AS postNo,
  		TITLE AS title,
  		QUESTION AS question,
  		P_ID AS pId,
  		S_ID AS sId,
  		ANSWER AS answer
  	FROM ADMIN_INQUIRY_VIEW WHERE POST_NO=#{postNo} 
  </select>
  
  <insert id="insertInquiryAnswer">
  	insert into QNA_COMMENT values(qna_comment_seq.nextval,#{postNo},#{answer},default,'a0001','N')
  </insert>
  
  <update id="updateInquiryAnswer">
  	update QNA_COMMENT set answer=#{answer} where post_no=#{postNo}
  </update>
  
  <update id="delChangeFAQ">
  	update FAQ set del_YN=#{delYn} where post_no=#{postNo}
  </update>
  
  <update id="delChangeNotice">
  	update NOTICE set del_YN=#{delYn} where post_no=#{postNo}
  </update>
  
  <update id="delChangeInquiry"> 
  	update QNA set del_YN=#{delYn} where post_no=#{postNo}
  </update>
 
</mapper>
