<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="index">
  <select id="offerCount" resultType="_int">
  	SELECT COUNT(*) FROM JOB_OFFER
  </select>
  <select id="searchCount" resultType="_int">
  	SELECT COUNT(*) FROM JOB_SEARCH
  </select>
  <select id="sitterCount" resultType="_int">
  	SELECT COUNT(*) FROM MEMBER_S WHERE DOCUMENT_YN='Y'
  </select>
  <select id="selectRecentReviews" resultType="IndexReviews">
  	<![CDATA[SELECT FILE_NO AS fileNo, ORIGINAL_NAME AS originalName, MEMBERP_NO AS memberpNo, ADDRESS AS address, P_REVIEW AS pReview, GRADE AS grade, WRITE_DATE AS writeDate, DEL_YN AS delYN FROM INDEX_REVIEW_VIEW WHERE ROWNUM<=16 ORDER BY WRITE_DATE DESC]]>
  </select>
</mapper>
