<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="joboffer">
  <select id="selectSearchAllList" resultType="JobOfferList">
  	<![CDATA[
	  	SELECT 
	  		POST_NO AS postNo,
			FILE_NO AS fileNo,
			ORIGINAL_NAME AS originalName,
			MEMBERS_NO AS memberNo,
			LOCATION AS location,
			PAY AS pay,
			WRITE_DATE AS writeDate,
			MEMBER_NAME AS memberName,
			BIRTH_DAY AS birthDay,
			CERT_FA_YN AS certFaYN,
			CERT_HE_YN AS certHeYN,
			CERT_RE_YN AS certReYN,
			CERT_TE_YN AS certTeYN,
			AVG_GRADE AS avgGrade
		FROM (SELECT A.*, ROWNUM AS RNUM FROM (SELECT * FROM JOB_OFFER_LIST WHERE DEL_YN='N' ORDER BY WRITE_DATE DESC) A)
		WHERE #{START}<=RNUM AND RNUM<=#{END}+9
	]]>
  </select>
  <select id="selectOneSearchPost" resultType="JobOfferPost">
  	SELECT
  		FILE_NO AS fileNo,
  		ORIGINAL_NAME AS originalName,
  		POST_NO AS postNo,
  		MEMBERS_NO AS membersNo,
  		TITLE AS title,
  		SELF_INTRODUCE AS selfIntroduce,
  		CARE_TYPE AS careType,
  		CARE_AGE AS careAge,
  		CARE_ACTIVITY AS careActivity,
  		LOCATION AS location,
  		START_DATE AS startDate,
  		END_DATE AS endDate,
  		CARE_DAYS AS careDays,
  		CARE_TIME AS careTime,
  		PAY AS pay,
  		CCTV_YN AS cctvYN,
  		WRITE_DATE AS writeDate,
  		HIT AS hit,
  		MEMBER_NAME AS memberName,
  		PHONE AS phone,
  		GENDER AS gender,
  		BIRTH_DAY AS birthDay,
  		CERT_FA_YN AS certFAYN,
  		CERT_HE_YN AS certHEYN,
  		CERT_RE_YN AS certREYN,
  		CERT_TE_YN AS certTEYN,
  		AVG_GRADE AS avgGrade
  	FROM JOB_SEARCH_POST WHERE POST_NO=#{postNo}
  </select>
  <update id="updatePostHitCount">
  	UPDATE JOB_SEARCH SET HIT=HIT+1 WHERE POST_NO=#{postNo}
  </update>
  <insert id="insertOfferApply" parameterType="JobOfferApply">
  	INSERT INTO JOB_SEARCH_APPLY VALUES (JOB_SEARCH_APPLY_SEQ.NEXTVAL, #{postNo}, #{memberpNo}, SYSDATE)
  </insert>
</mapper>
