<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jobsearch">
  <select id="selectOfferAllList" resultType="JobSearchList">
  	<![CDATA[
	  	SELECT
	  		FILE_NO AS fileNo,
	  		ORIGINAL_NAME AS originalName,
	  		MEMBERP_NO AS memberpNo,
	  		TITLE AS title,
	  		CARE_AGE AS careBirth,
	  		LOCATION AS location,
	  		CARE_TYPE AS careType,
	  		START_DATE AS startDate,
	  		PAY AS pay,
	  		WRITE_DATE AS writeDate,
	  		POST_NO AS postNo
	  	FROM (SELECT A.*, ROWNUM AS RNUM FROM (SELECT * FROM JOB_SEARCH_LIST WHERE DEL_YN='N' ORDER BY WRITE_DATE DESC) A)
	  	WHERE #{page}<=RNUM AND RNUM<=#{page}+9
	]]>
  </select>
  
  <select id="selectOneJobPost" resultType="JobSearchList">
  	SELECT
	  		FILE_NO AS fileNo,
	  		ORIGINAL_NAME AS originalName,
	  		POST_NO AS postNo,
	  		MEMBERP_NO AS memberpNo,
	  		MEMBER_NAME as memberName,
	  		TITLE AS title,
	  		CONTENT AS content,
	  		CARE_AGE AS careBirth,
	  		CARE_PERSON AS carePerson,
	  		LOCATION AS location,
	  		CARE_TYPE AS careType,
	  		HIT as hit,
	  		START_DATE AS startDate,
	  		PAY AS pay,
	  		WRITE_DATE AS writeDate,
	  		DEL_YN as delYN,
	  		CARE_ACTIVITY AS careActivity,
	  		PREPER_GENDER AS preperGender,
	  		CARE_DAYS AS careDays,
	  		CARE_TIME AS careTime,
	  		END_DATE AS endDate,
	  		AGE as age	  		
	  	FROM Job_Search_list where POST_NO=#{postNo}
  
  </select>
  <update id="updatePostHitCount">
  	UPDATE JOB_OFFER SET HIT=HIT+1 WHERE POST_NO=#{postNo}
  </update>
  <insert id="insertSearchApply" parameterType="JobSearchApply">
  	INSERT INTO JOB_OFFER_APPLY VALUES (JOB_OFFER_APPLY_SEQ.NEXTVAL, #{postNo}, #{membersNo}, SYSDATE)
  </insert>
  
  
  <select id="selectSearchReview" resultType="JobSearchReview">
    SELECT
        REVIEW_NO as reviewNo,
        WRITER_S_NO as writerSNo,
        REVIEWD_P_NO as reviewdPNo,
        MEMBERNAME as writerSName,
        JOB_OFFER_review.CONTENT as content,
        JOB_OFFER_review.GRADE as grade,
        JOB_OFFER_review.DEL_YN as delYn,
        JOB_OFFER_review.WRITE_DATE as writeDate
     FROM JOB_OFFER_REVIEW, JOB_OFFER_REVIEW_VIEW
    WHERE JOB_OFFER_review.review_no=JOB_OFFER_review_VIEW.reviewno and reviewd_p_no=#{memberpNo}
    ORDER BY WRITE_DATE
  </select>
  
  <select id="selectSearchApply" parameterType="java.util.Map" resultType="int">
  	SELECT
  		count(*)
  	FROM JOB_OFFER_APPLY
  	WHERE APPLY_POST_NO=${postNo} AND MEMBERS_NO=#{writerNo}
  </select>
  
  <insert id="insertParentReview" parameterType="java.util.Map">
  	INSERT INTO JOB_OFFER_REVIEW VALUES (JOB_OFFER_REVIEW_SEQ.NEXTVAL, #{writerNo}, #{reviewedMemberNo}, #{content}, ${grade}, 'N',SYSDATE)
  </insert>
  
  
  
</mapper>
