<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="loginMember" parameterType="MemberP" resultType="MemberP">
		select
		MEMBERP_NO as memberpNo,
		MEMBER_NAME as memberName,
		MEMBER_ID as memberId,
		MEMBER_PW as memberPW,
		PHONE as phone,
		ADDRESS as address,
		GENDER as gender,
		ENROLL_DATE as enrollDate,
		END_DATE as endDate,
		END_YN as endYn,
		BIRTH_DAY as birthDay
		from MEMBER_P where MEMBER_ID=#{memberId} and MEMBER_PW=#{memberPw} and
		end_yn='N' and MemberP_no='a0001'
	</select>
	
	  <select id="selectMemberPContentCnt" resultType="int" parameterType="java.util.HashMap">
        select
            count(*)
        from
            Member_P
    </select>
    
     <select id="selectMemberSContentCnt" resultType="int" parameterType="java.util.HashMap">
        select
            count(*)
        from
            Member_S
    </select>
    
	<select id="memberPList" resultType="MemberP" parameterType="java.util.HashMap">
	select
	MEMBERP_NO as memberpNo,
		MEMBER_NAME as memberName,
		MEMBER_ID as memberId,
		MEMBER_PW as memberPW,
		PHONE as phone,
		ADDRESS as address,
		GENDER as gender,
		ENROLL_DATE as enrollDate,
		END_DATE as endDate,
		END_YN as endYn,
		BIRTH_DAY as birthDay
	from (select row_number() over 
	(order by memberp_no) 
	as row_num, member_P.* from member_P where memberP_no like 'p%') 
	where row_num between #{start} and #{end}
	</select>
	
	<select id="memberSList" resultType="MemberS" parameterType="java.util.HashMap">
	select
	MEMBERS_NO as membersNo,
		MEMBER_NAME as memberName,
		MEMBER_ID as memberId,
		MEMBER_PW as memberPW,
		PHONE as phone,
		ADDRESS as address,
		GENDER as gender,
		ENROLL_DATE as enrollDate,
		END_DATE as endDate,
		END_YN as endYn,
		BIRTH_DAY as birthDay,
		DOCUMENT_YN as documentYN 
	from (select row_number() over 
	(order by members_no) 
	as row_num, member_s.* from member_s) 
	where row_num between #{start} and #{end}
	</select>
	
	<update id="endYNChange">
		update member_p set end_yn=#{endYn} where memberp_No=#{memberpNo}
	</update>
</mapper>
