<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="parentVoucher">

  <select id="selectVoucherTotalCount" resultType="Integer">
  	SELECT count(*)
  	FROM PARENTS_VOUCHER
  	WHERE MEMBERP_NO = #{memberNo}
  </select>
  
  
  <select id="selectVoucherList" parameterType="java.util.HashMap" resultType="ParentVoucher" >
  	SELECT
  		VOUCHER_NO AS voucherNo,
  		MEMBERP_NO AS memberNo,
  		VOUCHER_NAME AS voucherName,
  		VOUCHER_PRICE AS voucherPrice,
  		BOUGHT_DATE AS boughtDate,
  		END_DATE AS endDate,
  		REFUND_YN AS refundYN
  		FROM(
  			SELECT Row_NUMBER() OVER (order by VOUCHER_NO DESC) AS Row_Num, PARENTS_VOUCHER.* 
						FROM PARENTS_VOUCHER WHERE MEMBERP_NO = #{memberNo}
  		)
  		WHERE Row_Num BETWEEN #{startPage} AND #{endPage} 
  		
  </select>
  
</mapper>
