<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="parentMember">
  <select id="selectLogin" parameterType="ParentMember" resultType="ParentMember">
  	SELECT 
  		MEMBERP_NO as memberNo,
  		MEMBER_NAME as memberName,
  		MEMBER_ID as memberId,
  		MEMBER_PW as memberPw,
  		PHONE as phone,
  		ADDRESS as address,
  		GENDER as gender,
  		ENROLL_DATE as enrollDate,
  		END_DATE as endDate,
  		END_YN as endYN,
  		BIRTH_DAY as birthDay
  	FROM MEMBER_P
  	WHERE MEMBER_ID=#{memberId} AND MEMBER_PW=#{memberPw} AND END_YN='N'
  </select>
  
  <select id="selectIdCheck" resultType="ParentMember">
  	SELECT 
  		MEMBERP_NO as memberNo,
  		MEMBER_NAME as memberName,
  		MEMBER_ID as memberId,
  		MEMBER_PW as memberPw,
  		PHONE as phone,
  		ADDRESS as address,
  		GENDER as gender,
  		ENROLL_DATE as enrollDate,
  		END_DATE as endDate,
  		END_YN as endYN,
  		BIRTH_DAY as birthDay
  	FROM MEMBER_P
  	WHERE MEMBER_ID=#{memberId}  
  </select>
  
  <insert id="memberSignup" parameterType="ParentMember">
  	INSERT INTO MEMBER_P VALUES('P'||MEMBERP_SEQ.NEXTVAL, #{memberName}, #{memberId}, #{memberPw}, #{phone}, #{address}, #{gender}, default, default, default, #{birthDay} )
  </insert>
  
  <insert id="7daysVoucher">
  	INSERT INTO PARENTS_VOUCHER VALUES('PV'||PARENTS_VOUCHER_SEQ.NEXTVAL, #{memberNo},'7일 이용권',5000,sysdate,sysdate+7,'N' )
  </insert>
  <insert id="14daysVoucher">
  	INSERT INTO PARENTS_VOUCHER VALUES('PV'||PARENTS_VOUCHER_SEQ.NEXTVAL, #{memberNo},'14일 이용권',8000,sysdate,sysdate+14,'N' )
  </insert>
  <insert id="30daysVoucher">
  	INSERT INTO PARENTS_VOUCHER VALUES('PV'||PARENTS_VOUCHER_SEQ.NEXTVAL, #{memberNo},'30일 이용권',15000,sysdate,sysdate+30,'N' )
  </insert>
  
  
  
</mapper>
