<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">

	<select id="getReviewCnt" resultType="int" parameterType="java.util.HashMap">
		select count(*) from JOB_OFFER_REVIEW
	</select>

	<select id="OfferReviewList" resultType="JobOfferReviewView" parameterType="java.util.HashMap">
		SELECT
		REVIEWNO as reviewNo,
		MEMBERID as memberId,
		MEMBERNAME as memberName,
		CONTENT as content,
		GRADE as grade,
		WRITEDATE as writeDate,
		DELYN as delYn
		From(select Rank() over(order by REVIEWNO DESC) as RNUM, JOB_OFFER_REVIEW_VIEW.* from JOB_OFFER_REVIEW_VIEW)
		WHERE
		<if test='category !=null and category != all and !keyword.equals("")'>
			<if test='category == "REVIEW_NO"'>
				REVIEWNO like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("member_id")'>
				MEMBERID like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("member_name")'>
				MEMBERNAME like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("content")'>
				CONTENT like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("grade")'>
				GRADE like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("del_YN")'>
				<choose>
					<when test='keyword.equals("삭제")'>
						DELYN = 'Y' and
					</when>
					<otherwise>
						DELYN = 'N' and
					</otherwise>
				</choose>
			</if>
		</if>
		RNUM between #{start} and #{end}
	</select>

	<select id="getReviewCount" resultType="int" parameterType="java.util.HashMap">
		select count(*) from JOB_SEARCH_REVIEW
	</select>

	<select id="SearchReviewList" resultType="JobSearchReviewView" parameterType="java.util.HashMap">
		SELECT
		REVIEWNO as reviewNo,
		MEMBERID as memberId,
		MEMBERNAME as memberName,
		CONTENT as content,
		GRADE as grade,
		WRITEDATE as writeDate,
		DELYN as delYn
		From(select Rank() over(order by REVIEWNO DESC) as RNUM, JOB_SEARCH_REVIEW_VIEW.* from JOB_SEARCH_REVIEW_VIEW)
		WHERE
		<if test='category !=null and category != all and !keyword.equals("")'>
			<if test='category == "REVIEW_NO"'>
				REVIEWNO like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("member_id")'>
				MEMBERID like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("member_name")'>
				MEMBERNAME like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("content")'>
				CONTENT like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("grade")'>
				GRADE like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("del_YN")'>
				<choose>
					<when test='keyword.equals("삭제")'>
						DELYN = 'Y' and
					</when>
					<otherwise>
						DELYN = 'N' and
					</otherwise>
				</choose>
			</if>
		</if>
		RNUM between #{start} and #{end}
	</select>

	<select id="getReAnswerCount" resultType="int" parameterType="java.util.HashMap">
		select count(*) from Review_Answer
	</select>
	
	<select id="reviewAnswerList" resultType="ReviewAnswer" parameterType="java.util.HashMap">
		SELECT
		ANSWERREVIEWNO as answerReviewNo,
		REVIEWSNO as reviewSNo,
		REVIEWPNO as reviewPNo,
		ANSWERCONTENT as answerContent,
		DELYN as delYN,
		WRITER as writer,
		WRITEDATE as writeDate,
		MEMBERID as memberId,
		MEMBERNAME as memberName,
		CONTENT as content
		From(select Rank() over(order by ANSWERREVIEWNO DESC) as RNUM, ADMIN_REVIEW_ANSWER.* from ADMIN_REVIEW_ANSWER)
		WHERE
		<if test='category !=null and category != all and !keyword.equals("")'>
			<if test='category == "ANSWERREVIEWNO"'>
				ANSWERREVIEWNO like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("MEMBERID")'>
				MEMBERID like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("MEMBERNAME")'>
				MEMBERNAME like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("content")'>
				CONTENT like '%'||#{keyword}||'%' and
			</if>
			<if test='category.equals("DELYN")'>
				<choose>
					<when test='keyword.equals("삭제")'>
						DELYN = 'Y' and
					</when>
					<otherwise>
						DELYN = 'N' and
					</otherwise>
				</choose>
			</if>
		</if>
		RNUM between #{start} and #{end}
	</select>
	
	<update id="answerDelYN">
		update review_answer set del_yn = #{delYn} where answer_review_no=#{answerReviewNo}
	</update>

	<update id="offerDelYN">
		update JOB_OFFER_REVIEW set del_yn = #{delYn} where review_no=#{reviewNo}
	</update>

	<update id="searchDelYN">
		update JOB_SEARCH_REVIEW set del_yn = #{delYn} where review_no=#{reviewNo}
	</update>

</mapper>
