<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sitterMember">
  <select id="selectLogin" parameterType="SitterMember" resultType="SitterMember">
  	SELECT 
  		MEMBERS_NO as memberNo,
  		MEMBER_NAME as memberName,
  		MEMBER_ID as memberId,
  		MEMBER_PW as memberPw,
  		PHONE as phone,
  		ADDRESS as address,
  		GENDER as gender,
  		ENROLL_DATE as enrollDate,
  		END_DATE as endDate,
  		END_YN as endYN,
  		BIRTH_DAY as birthDay,
  		DOCUMENT_YN as documentYN
  	FROM MEMBER_S
  	WHERE MEMBER_ID=#{memberId} AND MEMBER_PW=#{memberPw} AND END_YN='N'
  </select>
  
    <select id="selectIdCheck" resultType="SitterMember">
  	SELECT 
  		MEMBERS_NO as memberNo,
  		MEMBER_NAME as memberName,
  		MEMBER_ID as memberId,
  		MEMBER_PW as memberPw,
  		PHONE as phone,
  		ADDRESS as address,
  		GENDER as gender,
  		ENROLL_DATE as enrollDate,
  		END_DATE as endDate,
  		END_YN as endYN,
  		BIRTH_DAY as birthDay,
  		DOCUMENT_YN as documentYN
  	FROM MEMBER_S
  	WHERE MEMBER_ID=#{memberId}  
  </select>
  
    <insert id="memberSignup" parameterType="SitterMember">
  	INSERT INTO MEMBER_S VALUES(MEMBERS_SEQ.NEXTVAL, #{memberName}, #{memberId}, #{memberPw}, #{phone}, #{address}, #{gender}, sysdate, null, null, #{birthDay}, 'N')
  </insert>
</mapper>
