<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

<import resource="/jdbc-context.xml"/>

<!-- aop설정되는 클래스가 Interface를 상속하면 주어야 하는 설정 (Interface를 사용하지 않으면 생략해도 되는 설정)  -->
<aop:aspectj-autoproxy proxy-target-class="true"/>


</beans>
