@CHARSET "UTF-8";

table {
   width: 1400px;
}

.search {
   margin-right: 60px;
   margin-bottom: 8px;
}

#all_select {
	width: 4%;
}

.voucher_no {
	width: 5%
}

.member_id {
	width: 15%;
}

.voucher_price {
	width: 15%;
}

.bought_date .end_date {
	width: 20%;
}

.refund_YN {
	width: 10%;
}

a {
	text-decoration: none;
	border: 0;
	text-align: left;
}

.restore-btn {
	background-color: #9E9E9E;
	color: white;
	font-weight: 400;
	font-size: 0.8rem;
	border: 0px solid white;
	padding: 3px 20px 3px 20px;
	border-radius: 999px;
}

.refund-done {
	background-color: #F84949;
	color: white;
	font-weight: 400;
	font-size: 0.8rem;
	border: 0px solid white;
	padding: 3px 20px 3px 20px;
	border-radius: 999px;
	cursor: pointer;
}

.refund-request {
	height: 30px;
	background-color: #5189EB;
	color: white;
	font-weight: 400;
	font-size: 0.8rem;
	border: 0px solid white;
	padding: 3px 20px 3px 20px;
	border-radius: 999px;
	cursor: pointer;
}

.pagenavigation{
	 margin-left:48%;
	 margin-top:20px;
}

.pagenavigation>button{
	width:30px;
	height:35px;
}