@CHARSET "UTF-8";

table {
	width: 1400px;
}

.search {
	margin-right: 60px;
	margin-bottom: 8px;
}

#write-btn {
	width: 95px;
	height: 30px;
	background-color: #9AB9EF;
	color: white;
	font-weight: 300;
	font-size: 1rem;
	border: 0px solid white;
	padding: 3px 20px 3px 20px;
	border-radius: 5px;
}

#all_select {
	width: 70px;
}

.post-no {
	width: 70px;
}

.memberid {
	width: 150px;
}

.membername {
	width: 150px;
}
.content{
	width:570px;
}
.content>a{
	display:inline-block;
	width:550px;
	float:left;
	text-align: left;
	overflow:hidden; 
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-left: 20px;
}

.date {
	width: 150px;
}

.del-YN {
	width: 100px;
}

a {
	text-decoration: none;
	border: 0;
	text-align: left;
}

#modal-content{
	width:700px;
	height:670px;
}

#guide-body{
	padding: 20px;
}

.guide{
	font-weight:bold;
	font-size:1.1rem;
	text-align:center;
}

.guide_content{
	width:500px;
	height:450px;
	border : 1px solid #707070;
	font-size:1rem;
	resize:none;
	padding:5px;
}

#modify_cancle{
	width:100px;
	height:40px;
	background-color:#9AB9EF;
	border : 1px solid #9AB9EF;
	color:white;
	margin-top: 25px;
	font-size: 1rem;
	cursor: pointer;
}

.contents{
	height:46px;
}

.pagenavigation{
	 margin-top:20px;
	 text-align:center;
}

.pagenavigation>button{
	width:30px;
	height:35px;
	
}
