@CHARSET "UTF-8";

table {
	width: 1400px;
}

.search {
	margin-right: 60px;
	margin-bottom: 8px;
}

#write-btn {
	width: 95px;
	height: 30px;
	background-color: #9AB9EF;
	color: white;
	font-weight: 300;
	font-size: 1rem;
	border: 0px solid white;
	padding: 3px 20px 3px 20px;
	border-radius: 5px;
}

#all_select {
	width: 70px;
}

.post-no {
	width: 70px;
}

.memberid {
	width: 150px;
}

.membername {
	width: 150px;
}

.bought .enddate {
	width: 150px;
}

.refund-YN {
	width: 120px;
}

a {
	text-decoration: none;
	border: 0;
	text-align: left;
}

.restore-btn {
	background-color: #9E9E9E;
	color: white;
	font-weight: 400;
	font: 0.8rem;
	border: 0px solid white;
	padding: 3px 20px 3px 20px;
	border-radius: 999px;
}

.refund-done {
	background-color: #F84949;
	color: white;
	font-weight: 400;
	font: 0.8rem;
	border: 0px solid white;
	padding: 3px 20px 3px 20px;
	border-radius: 999px;
}

.refund-request {
	background-color: #5189EB;
	color: white;
	font-weight: 400;
	font: 0.8rem;
	border: 0px solid white;
	padding: 3px 20px 3px 20px;
	border-radius: 999px;
}