footer{
	width: 100%;
	height: 500px;
	background-color: #3c3c3c;
	clear: both;
}

footer p{
	margin: 5px 0;
}

#footer-wrap{
	padding: 3% 0;
	width: 70%;
	height: 100%;
	color: #8e8e8e;
}
#footer-wrap a{
	color: #8e8e8e;
}

.footer-panel{
	display: inline;
	float: left;
}

#copyright-panel{
	width: 40%;
}
#copyright-logo-panel{
	margin-bottom: 30px;
}
#copyright-logo-panel img{
	width: 150px;
}



#info-panel{
	width: 30%;
}
#info-panel li{
	margin: 10px 0;
}



#customer-center-panel{
	width: 30%;
}
#customer-center-panel li{
	margin: 10px 0;
}

hr{
	background-color: #8e8e8e;
}



.style-bold{
	font-weight: 900;
}
.style-color-white{
	color: white;
}