@CHARSET "UTF-8";

body {
	font-family: 'Nanum Gothic', sans-serif;
	min-width: 500px;
}

div {
	box-sizing: border-box;
}

.container-fluid {
	width: 60%;
	border: 20px solid #F6D257;
	background-color: #F6D257;
}

.row {
	background-color: white;
}

#contentBox {
	border-radius: 20px;
	padding: 5%;
}

#imgBox{
	text-align: center;
}

.profileImg {
	width: 50%;
	border-radius: 10%;
}

#sitterInfoBox {
	margin-top: 15px;
}

#sitterEvalBox {
	margin-top: 20px;
}

.sitterEval {
	padding: 10px 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.sitterEval>div {
	text-align: center;
}

#hits>div:first-child {
	font-weight: bold;
}

#familyCount>div:first-child {
	font-weight: bold;
}

.bedges img{
	opacity: 0.2;
}

#badgesBox {
	border: 1px solid gray;
	margin-top: 15px;
	padding: 10px;
}

.badges {
	text-align: center;
}

.badges>img {
	width: 40%;
	padding: 5%;
	border-radius: 10px;
	background-color: #F6D257;
	margin-bottom: 10px;
}

#introductionBox {
	margin-top: 20px;
}

#introductionBox>div:first-child {
	font-weight: bold;
}
#introductionBox>div>h5>span{
	font-weight: 900;
}
#introductionBox>div:last-child{
	padding: 2% 5%;
}

#ageBox {
	margin-top: 20px;
}

#ageOption {
	border: 1px solid gray;
	
}

.age>div {
	font-size: 15px;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}

#activityBox {
	margin-top: 20px;
}

#activityOption {
	border: 1px solid gray;
}

.activity>div {
	font-size: 15px;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}

#areaTimeBox {
	margin-top: 20px;
}

#areaBox {
	border: 1px solid gray;
	padding: 10px;
	width: 90%;
}

#timeBox {
	border: 1px solid gray;
}

#timeTable {
	text-align: center;
	
}


#timeTable td {
	border: 1px solid gray;
	
}

#reviewBox {
	margin-top: 20px;
}

#reviewBox>div:nth-child(2) {
	border: 1px solid gray;
	
}

#reviewPrintBox{
	margin-bottom: 30px;
}

reviewComment {
	padding: 0px;
}

.reviewComment>span {
	font-size: 8px;
}

#review {
	padding: 10px;
}

#reviewReply {
	padding: 10px;
}

#reviewInputBox {
	padding: 0px;
}

#reviewInput {
	text-align: center;
	width: 100%;
	padding: 10px;
	background-color: rgb(246, 246, 246);
	border: 1px solid gray;
	
}

#reviewInput>textarea {
	width: 90%;
	height: 100px;
	padding: 5px;
	margin-right: 1%;
}

#reviewInput>textarea::-webkit-scrollbar {
	width: 6px;
}

#reviewInput>textarea::-webkit-scrollbar-track {
	background-color: transparent;
}

#commentInput>textarea::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: gray;
}

#reviewInput>textarea::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

#reviewInput>button {
	background-color: white;
	border: 1px solid gray;
	width: 9%;
	float: right;
	height: 100px;
}

#btn-panel{
	text-align: center;
}
#btn-panel>a{
	margin-top: 1%;
	width: 300px;
	font-size: 1.2rem;
	font-weight: 900;
	color: gray;
	background-color: white;
	border: 1px solid gray;
	padding: 1% 0;
}
#btn-panel>a:hover{
	background-color: #f6d257;
}

#gradeBox {
	text-align: left;
	padding-bottom: 10px;
}
